@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Dana";
        src: url("./assets/Font_ttf/Dana-Regular.ttf") format("truetype");
        font-style: normal;
    }
}

@layer components {
    .primaryTransition {
        transition: all ease 150ms;
    }
    .primaryBoxShadowLight {
        box-shadow: 2px 2px 2px rgb(194, 192, 192);
    }
}

body {
    font-family: "Dana";
    font-size: 16px;
    color: #000000;
}

.active {
    background: rgb(248, 172, 6);
    background: linear-gradient(
        0deg,
        rgba(248, 172, 6, 0.4318102240896359) 8%,
        rgba(209, 191, 228, 0) 93%
    );
}
